@charset "UTF-8";
@font-face {
    font-family: 'Brush'  ;
    src: url('Brush effect TTF.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:#2D3142;
    color:white;
}

#principal{
       color: #0392a8;
       background-color: #b11b5e;
       
       height: 66px;
       width: auto;
        
      margin-bottom: 26px;
      font-family: 'Brush', Times, serif;
    font-size: 2em;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.212);
    font-size: 30px;
    text-align:center;

       }
    header{
        background-color: #39393A ;
        margin-bottom: 12px;
        padding: 10px;
        margin: 10px;
       border-radius: 10px 0px;
    }
       #informacao{
        color:#ED217C;
       }
       nav>pre>a{
        color: white;
         text-decoration: none;
         font-weight: bold;
         font-family: Arial, Helvetica, sans-serif;
         padding: 2px;
         border-top: 5px;
       }
       nav{
        background-color: #7a797a;
        padding:10px 0px 0px 0px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.116);
        text-align: center;
        }
        nav>pre>a:hover{
            color: #009FB7;
            text-decoration:  underline;
        }
        main{
            background-color:#39393A;
            padding: 10px;
            margin: 10px;
            border-radius: 10px 0px;
            box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.144);
        }

       main>a{
          color:#009FB7;
       }
       footer{
        background-color: black;
        color:white;
        text-align: center;
        padding:4px;
        
        
    }
    footer>p{
        margin:0px;}
        main>a::after{
    content:'[link]';
    }
   
